.page-container {
    margin: 0 auto;
}

.page-header {
    font-size: 1.5rem;
    margin-bottom: 16px;
    margin-left: 20px;
    margin-top: 20px;
    color: #2c3e50;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.3);
}

.page-container h1 {
    font-size: 32px;
    color: #fff;
    background-color: #3498db;
    padding: 10px 20px;
    font-family: 'Song Myung';
    text-align: center;
    margin: 0;
    display: inline-block;
    border-radius: 80px;
}

.page-container {
    text-align: center;
}

.card {
    border: 1px solid #ddd;
    border-radius: 8px;
    overflow: hidden;
    margin: 16px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    height: 500px;
    width: 1000px;
}

.card-image {
    width: 100%;
    height: 70%;
    object-fit: cover;
}

.card-content {
    padding: 16px;
}

.card-title {
    font-size: 1.4rem;
    margin-bottom: 8px;
    text-align: left;
}

.card-description {
    color: #555;
    margin-bottom: 16px;
    text-align: left;
    font-size: 1.3rem;
}

.btn {
    background-color: #3498db;
    color: #fff;
    padding: 8px 16px;
    border: none;
    border-radius: 80px;
    cursor: pointer;
    font-size: 1.1rem;
}

.card-container {
    display: flex;
    justify-content: space-between;
    margin: 16px -8px;
}

.card-image:hover {
    transform: scale(1.1);
    transition: transform 0.3s ease;
}

.button-container {
    display: flex;
    gap: 8px;
}