/* booking-form.component.css */

.booking-form-container {
  max-width: 600px;
  margin: 0 auto;
  text-align: center;
  margin-top: 30px;
  margin-bottom: 30px;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.form-group {
  margin-bottom: 20px;
  text-align: left;
}

label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
}

input[type="text"],
textarea {
  width: 100%;
  padding: 10px;
  box-sizing: border-box;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin-top: 5px;
}

input[type="radio"] {
  margin-right: 5px;
}

button {
  padding: 12px;
  background-color: #2296f7;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
}

button:disabled {
  background-color: #ccc;
  cursor: not-allowed;
}


.button-group {
  display: flex;
}

.frequency-button {
  background-color: white;
  border: 1px solid #999999;
  padding: 10px;
  cursor: pointer;
  color: black;
  margin-right: 10px;
}

.frequency-button.selected {
  background-color: orangered;
  color: #ffffff;
}


.container {
  display: flex;
}

#selected_time::after {
  content: '\25BC'; /* Unicode character for downward arrow */
  position: absolute;
  right: 12px;
  top: 50%;
  transform: translateY(-50%);
  font-size: 0.75em;
  pointer-events: none; /* Ensure the pseudo-element doesn't interfere with user interactions */
}

.form-container {
  width: 50%; /* Adjust the width as needed */
  padding: 20px; /* Add padding for spacing */
}

.card-container {
  width: 50%; /* Adjust the width as needed */
  padding: 20px; /* Add padding for spacing */
  border-left: 1px solid #ccc; /* Add a border between form and cards */
}